* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.calc {
    width: 800px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 50px auto;
    grid-auto-rows: 80px;
    border: 1px solid gray;
    gap: 10px;
    background-color: lightslategrey;
    border-radius: 5px;
}

.output {
    grid-column: 1/-1;
    background-color: #2e2828;
    color: white;
    font-size: 36px;
    display: flex;
    justify-content: flex-end;
    
}

.equal {
    grid-column: 2/-1;
}